{
  "swagger": "2.0",
  "host": "cdcdexsmartdevhealth-fhirdata.fhir.azurehealthcareapis.com",
  "basePath": "/",
  "paths": {
    "/metadata": {
      "get": {
        "summary": "Get conformance statement.",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Account": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "type",
            "type": "string",
            "in": "query",
            "description": "E.g. patient, expense, depreciation"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "Account number"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "The entity that caused the expenses"
          },
          {
            "name": "owner",
            "type": "string",
            "in": "query",
            "description": "Entity managing the Account"
          },
          {
            "name": "name",
            "type": "string",
            "in": "query",
            "description": "Human-readable label"
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "active | inactive | entered-in-error | on-hold | unknown"
          },
          {
            "name": "subject",
            "type": "string",
            "in": "query",
            "description": "The entity that caused the expenses"
          },
          {
            "name": "period",
            "type": "string",
            "in": "query",
            "description": "Transaction window",
            "format": "date"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Account/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Account/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Account/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Account/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ActivityDefinition": {
      "get": {
        "parameters": [
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "context-type-value",
            "type": "string",
            "in": "query",
            "description": "A use context type and value assigned to the activity definition"
          },
          {
            "name": "jurisdiction",
            "type": "string",
            "in": "query",
            "description": "Intended jurisdiction for the activity definition"
          },
          {
            "name": "url",
            "type": "string",
            "in": "query",
            "description": "The uri that identifies the activity definition"
          },
          {
            "name": "context-type",
            "type": "string",
            "in": "query",
            "description": "A type of use context assigned to the activity definition"
          },
          {
            "name": "version",
            "type": "string",
            "in": "query",
            "description": "The business version of the activity definition"
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "The current status of the activity definition"
          },
          {
            "name": "effective",
            "type": "string",
            "in": "query",
            "description": "The time during which the activity definition is intended to be in use",
            "format": "date"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "context-type-quantity",
            "type": "string",
            "in": "query",
            "description": "A use context type and quantity- or range-based value assigned to the activity definition"
          },
          {
            "name": "name",
            "type": "string",
            "in": "query",
            "description": "Computationally friendly name of the activity definition"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "title",
            "type": "string",
            "in": "query",
            "description": "The human-friendly name of the activity definition"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "context-quantity",
            "type": "string",
            "in": "query",
            "description": "A quantity- or range-valued use context assigned to the activity definition"
          },
          {
            "name": "date",
            "type": "string",
            "in": "query",
            "description": "The activity definition publication date",
            "format": "date"
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "A use context assigned to the activity definition"
          },
          {
            "name": "description",
            "type": "string",
            "in": "query",
            "description": "The description of the activity definition"
          },
          {
            "name": "topic",
            "type": "string",
            "in": "query",
            "description": "Topics associated with the module"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "publisher",
            "type": "string",
            "in": "query",
            "description": "Name of the publisher of the activity definition"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "External identifier for the activity definition"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ActivityDefinition/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ActivityDefinition/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ActivityDefinition/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ActivityDefinition/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AdverseEvent": {
      "get": {
        "parameters": [
          {
            "name": "substance",
            "type": "string",
            "in": "query",
            "description": "Refers to the specific entity that caused the adverse event"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "actuality",
            "type": "string",
            "in": "query",
            "description": "actual | potential"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "location",
            "type": "string",
            "in": "query",
            "description": "Location where adverse event occurred"
          },
          {
            "name": "date",
            "type": "string",
            "in": "query",
            "description": "When the event occurred",
            "format": "date"
          },
          {
            "name": "study",
            "type": "string",
            "in": "query",
            "description": "AdverseEvent.study"
          },
          {
            "name": "resultingcondition",
            "type": "string",
            "in": "query",
            "description": "Effect on the subject due to this event"
          },
          {
            "name": "event",
            "type": "string",
            "in": "query",
            "description": "Type of the event itself in relation to the subject"
          },
          {
            "name": "recorder",
            "type": "string",
            "in": "query",
            "description": "Who recorded the adverse event"
          },
          {
            "name": "category",
            "type": "string",
            "in": "query",
            "description": "product-problem | product-quality | product-use-error | wrong-dose | incorrect-prescribing-information | wrong-technique | wrong-route-of-administration | wrong-rate | wrong-duration | wrong-time | expired-drug | medical-device-use-error | problem-different-manufacturer | unsafe-physical-environment"
          },
          {
            "name": "subject",
            "type": "string",
            "in": "query",
            "description": "Subject impacted by event"
          },
          {
            "name": "seriousness",
            "type": "string",
            "in": "query",
            "description": "Seriousness of the event"
          },
          {
            "name": "severity",
            "type": "string",
            "in": "query",
            "description": "mild | moderate | severe"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AdverseEvent/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AdverseEvent/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AdverseEvent/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AdverseEvent/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "type",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): allergy | intolerance - Underlying mechanism (if known)\r\n* [Composition](composition.html): Kind of composition (LOINC if possible)\r\n* [DocumentManifest](documentmanifest.html): Kind of document set\r\n* [DocumentReference](documentreference.html): Kind of document (LOINC if possible)\r\n* [Encounter](encounter.html): Specific type of encounter\r\n* [EpisodeOfCare](episodeofcare.html): Type/class  - e.g. specialist referral, disease management"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "route",
            "type": "string",
            "in": "query",
            "description": "How the subject was exposed to the substance"
          },
          {
            "name": "onset",
            "type": "string",
            "in": "query",
            "description": "Date(/time) when manifestations showed",
            "format": "date"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "criticality",
            "type": "string",
            "in": "query",
            "description": "low | high | unable-to-assess"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): External ids for this item\r\n* [CarePlan](careplan.html): External Ids for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\n* [Composition](composition.html): Version-independent identifier for the Composition\r\n* [Condition](condition.html): A unique identifier of the condition record\r\n* [Consent](consent.html): Identifier for this record (external references)\r\n* [DetectedIssue](detectedissue.html): Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html): Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html): An identifier for the report\r\n* [DocumentManifest](documentmanifest.html): Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html): Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s) by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html): Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html): A search by a record identifier\r\n* [Goal](goal.html): External Ids for this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html): Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html): Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html): Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this external identifier\r\n* [Observation](observation.html): The unique id for a particular observation\r\n* [Procedure](procedure.html): A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html): Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html): Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html): External identifier\r\n* [SupplyRequest](supplyrequest.html): Business Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html): Return prescriptions with this external identifier"
          },
          {
            "name": "date",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Date first version of the resource instance was recorded\r\n* [CarePlan](careplan.html): Time period plan covers\r\n* [CareTeam](careteam.html): Time period team covers\r\n* [ClinicalImpression](clinicalimpression.html): When the assessment was documented\r\n* [Composition](composition.html): Composition editing time\r\n* [Consent](consent.html): When this Consent was created or indexed\r\n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time of the report\r\n* [Encounter](encounter.html): A date within the period the Encounter lasted\r\n* [EpisodeOfCare](episodeofcare.html): The provided date search value falls within the episode of care's period\r\n* [FamilyMemberHistory](familymemberhistory.html): When history was recorded or last updated\r\n* [Flag](flag.html): Time period when flag is active\r\n* [Immunization](immunization.html): Vaccination  (non)-Administration Date\r\n* [List](list.html): When the list was prepared\r\n* [Observation](observation.html): Obtained date/time. If the obtained element is a period, a date that falls in the period\r\n* [Procedure](procedure.html): When the procedure was performed\r\n* [RiskAssessment](riskassessment.html): When was assessment made?\r\n* [SupplyRequest](supplyrequest.html): When the request was made",
            "format": "date"
          },
          {
            "name": "asserter",
            "type": "string",
            "in": "query",
            "description": "Source of the information about the allergy"
          },
          {
            "name": "clinical-status",
            "type": "string",
            "in": "query",
            "description": "active | inactive | resolved"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n* [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\n* [Composition](composition.html): Who and/or what the composition is about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html): Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated patient\r\n* [DeviceRequest](devicerequest.html): Individual the service is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html): The subject of the set of documents\r\n* [DocumentReference](documentreference.html): Who/what is the subject of the document\r\n* [Encounter](encounter.html): The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for\r\n* [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html): Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html): Who the study is about\r\n* [Immunization](immunization.html): The patient for the vaccination record\r\n* [List](list.html): If all resources have the same subject\r\n* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement\r\n* [Observation](observation.html): The subject that the observation is about (if patient)\r\n* [Procedure](procedure.html): Search by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?\r\n* [ServiceRequest](servicerequest.html): Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for"
          },
          {
            "name": "manifestation",
            "type": "string",
            "in": "query",
            "description": "Clinical symptoms/signs associated with the Event"
          },
          {
            "name": "verification-status",
            "type": "string",
            "in": "query",
            "description": "unconfirmed | confirmed | refuted | entered-in-error"
          },
          {
            "name": "recorder",
            "type": "string",
            "in": "query",
            "description": "Who recorded the sensitivity"
          },
          {
            "name": "category",
            "type": "string",
            "in": "query",
            "description": "food | medication | environment | biologic"
          },
          {
            "name": "code",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance\r\n* [Condition](condition.html): Code for the condition\r\n* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered\r\n* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result\r\n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code\r\n* [List](list.html): What the purpose of this list is\r\n* [Medication](medication.html): Returns medications for a specific code\r\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code\r\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code\r\n* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code\r\n* [MedicationStatement](medicationstatement.html): Return statements of this medication code\r\n* [Observation](observation.html): The code of the observation type\r\n* [Procedure](procedure.html): A code to identify a  procedure\r\n* [ServiceRequest](servicerequest.html): What is being requested/ordered"
          },
          {
            "name": "last-date",
            "type": "string",
            "in": "query",
            "description": "Date(/time) of last known occurrence of a reaction",
            "format": "date"
          },
          {
            "name": "severity",
            "type": "string",
            "in": "query",
            "description": "mild | moderate | severe (of event as a whole)"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AllergyIntolerance/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AllergyIntolerance/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AllergyIntolerance/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Appointment": {
      "get": {
        "parameters": [
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "practitioner",
            "type": "string",
            "in": "query",
            "description": "One of the individuals of the appointment is this practitioner"
          },
          {
            "name": "based-on",
            "type": "string",
            "in": "query",
            "description": "The service request this appointment is allocated to assess"
          },
          {
            "name": "service-category",
            "type": "string",
            "in": "query",
            "description": "A broad categorization of the service that is to be performed during this appointment"
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "The overall status of the appointment"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "actor",
            "type": "string",
            "in": "query",
            "description": "Any one of the individuals participating in the appointment"
          },
          {
            "name": "service-type",
            "type": "string",
            "in": "query",
            "description": "The specific service that is to be performed during this appointment"
          },
          {
            "name": "part-status",
            "type": "string",
            "in": "query",
            "description": "The Participation status of the subject, or other participant on the appointment. Can be used to locate participants that have not responded to meeting requests."
          },
          {
            "name": "reason-code",
            "type": "string",
            "in": "query",
            "description": "Coded reason this appointment is scheduled"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "supporting-info",
            "type": "string",
            "in": "query",
            "description": "Additional information to support the appointment"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "specialty",
            "type": "string",
            "in": "query",
            "description": "The specialty of a practitioner that would be required to perform the service requested in this appointment"
          },
          {
            "name": "date",
            "type": "string",
            "in": "query",
            "description": "Appointment date/time.",
            "format": "date"
          },
          {
            "name": "location",
            "type": "string",
            "in": "query",
            "description": "This location is listed in the participants of the appointment"
          },
          {
            "name": "appointment-type",
            "type": "string",
            "in": "query",
            "description": "The style of appointment or patient that has been booked in the slot (not service type)"
          },
          {
            "name": "slot",
            "type": "string",
            "in": "query",
            "description": "The slots that this appointment is filling"
          },
          {
            "name": "reason-reference",
            "type": "string",
            "in": "query",
            "description": "Reason the appointment is to take place (resource)"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "One of the individuals of the appointment is this patient"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "An Identifier of the Appointment"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Appointment/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Appointment/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Appointment/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Appointment/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AppointmentResponse": {
      "get": {
        "parameters": [
          {
            "name": "appointment",
            "type": "string",
            "in": "query",
            "description": "The appointment that the response is attached to"
          },
          {
            "name": "practitioner",
            "type": "string",
            "in": "query",
            "description": "This Response is for this Practitioner"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "part-status",
            "type": "string",
            "in": "query",
            "description": "The participants acceptance status for this appointment"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "An Identifier in this appointment response"
          },
          {
            "name": "location",
            "type": "string",
            "in": "query",
            "description": "This Response is for this Location"
          },
          {
            "name": "actor",
            "type": "string",
            "in": "query",
            "description": "The Person, Location/HealthcareService or Device that this appointment response replies for"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "This Response is for this Patient"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AppointmentResponse/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AppointmentResponse/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AppointmentResponse/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AppointmentResponse/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AuditEvent": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "type",
            "type": "string",
            "in": "query",
            "description": "Type/identifier of event"
          },
          {
            "name": "address",
            "type": "string",
            "in": "query",
            "description": "Identifier for the network access point of the user device"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "action",
            "type": "string",
            "in": "query",
            "description": "Type of action performed during the event"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "entity-name",
            "type": "string",
            "in": "query",
            "description": "Descriptor for entity"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "site",
            "type": "string",
            "in": "query",
            "description": "Logical source location within the enterprise"
          },
          {
            "name": "entity-role",
            "type": "string",
            "in": "query",
            "description": "What role the entity played"
          },
          {
            "name": "agent-name",
            "type": "string",
            "in": "query",
            "description": "Human friendly name for the agent"
          },
          {
            "name": "date",
            "type": "string",
            "in": "query",
            "description": "Time when the event was recorded",
            "format": "date"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "Identifier of who"
          },
          {
            "name": "entity",
            "type": "string",
            "in": "query",
            "description": "Specific instance of resource"
          },
          {
            "name": "source",
            "type": "string",
            "in": "query",
            "description": "The identity of source detecting the event"
          },
          {
            "name": "policy",
            "type": "string",
            "in": "query",
            "description": "Policy that authorized event"
          },
          {
            "name": "altid",
            "type": "string",
            "in": "query",
            "description": "Alternative User identity"
          },
          {
            "name": "subtype",
            "type": "string",
            "in": "query",
            "description": "More specific type/id for the event"
          },
          {
            "name": "outcome",
            "type": "string",
            "in": "query",
            "description": "Whether the event succeeded or failed"
          },
          {
            "name": "entity-type",
            "type": "string",
            "in": "query",
            "description": "Type of entity involved"
          },
          {
            "name": "agent-role",
            "type": "string",
            "in": "query",
            "description": "Agent role in the event"
          },
          {
            "name": "agent",
            "type": "string",
            "in": "query",
            "description": "Identifier of who"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AuditEvent/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AuditEvent/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AuditEvent/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AuditEvent/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Basic": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "author",
            "type": "string",
            "in": "query",
            "description": "Who created"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "Business identifier"
          },
          {
            "name": "created",
            "type": "string",
            "in": "query",
            "description": "When created",
            "format": "date"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "Identifies the focus of this resource"
          },
          {
            "name": "code",
            "type": "string",
            "in": "query",
            "description": "Kind of Resource"
          },
          {
            "name": "subject",
            "type": "string",
            "in": "query",
            "description": "Identifies the focus of this resource"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Basic/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Basic/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Basic/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Basic/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Binary": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Binary/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Binary/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Binary/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Binary/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BiologicallyDerivedProduct": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BiologicallyDerivedProduct/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BiologicallyDerivedProduct/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BiologicallyDerivedProduct/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BiologicallyDerivedProduct/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BodyStructure": {
      "get": {
        "parameters": [
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "Bodystructure identifier"
          },
          {
            "name": "location",
            "type": "string",
            "in": "query",
            "description": "Body site"
          },
          {
            "name": "patient",
            "type": "string",
            "in": "query",
            "description": "Who this is about"
          },
          {
            "name": "morphology",
            "type": "string",
            "in": "query",
            "description": "Kind of Structure"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BodyStructure/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BodyStructure/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BodyStructure/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/BodyStructure/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Bundle": {
      "get": {
        "parameters": [
          {
            "name": "timestamp",
            "type": "string",
            "in": "query",
            "description": "When the bundle was assembled",
            "format": "date"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "type",
            "type": "string",
            "in": "query",
            "description": "document | message | transaction | transaction-response | batch | batch-response | history | searchset | collection"
          },
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "_security",
            "type": "string",
            "in": "query",
            "description": "Security Labels applied to this resource"
          },
          {
            "name": "_lastUpdated",
            "type": "string",
            "in": "query",
            "description": "When the resource version last changed",
            "format": "date"
          },
          {
            "name": "_profile",
            "type": "string",
            "in": "query",
            "description": "Profiles this resource claims to conform to"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "query",
            "description": "Persistent identifier for the bundle"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "_format",
            "type": "string",
            "in": "query",
            "description": "Output formatting",
            "x-consoleDefault": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Bundle/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Bundle/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "vid",
            "type": "string",
            "in": "path",
            "description": "version id of resource",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Bundle/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "id of resource",
            "required": true
          },
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Bundle/_history": {
      "get": {
        "parameters": [
          {
            "name": "_count",
            "type": "string",
            "in": "query",
            "description": "number to return"
          },
          {
            "name": "_since",
            "type": "string",
            "in": "query",
            "description": "how far back"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/CapabilityStatement": {
      "get": {
        "parameters": [
          {
            "name": "_id",
            "type": "string",
            "in": "query",
            "description": "Logical id of this artifact"
          },
          {
            "name": "context-type-value",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A use context type and value assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A use context type and value assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and value assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A use context type and value assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A use context type and value assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A use context type and value assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A use context type and value assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A use context type and value assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A use context type and value assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A use context type and value assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A use context type and value assigned to the structure definition\r\n* [StructureMap](structuremap.html): A use context type and value assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and value assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A use context type and value assigned to the value set"
          },
          {
            "name": "jurisdiction",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): Intended jurisdiction for the capability statement\r\n* [CodeSystem](codesystem.html): Intended jurisdiction for the code system\r\n* [ConceptMap](conceptmap.html): Intended jurisdiction for the concept map\r\n* [GraphDefinition](graphdefinition.html): Intended jurisdiction for the graph definition\r\n* [ImplementationGuide](implementationguide.html): Intended jurisdiction for the implementation guide\r\n* [MessageDefinition](messagedefinition.html): Intended jurisdiction for the message definition\r\n* [NamingSystem](namingsystem.html): Intended jurisdiction for the naming system\r\n* [OperationDefinition](operationdefinition.html): Intended jurisdiction for the operation definition\r\n* [SearchParameter](searchparameter.html): Intended jurisdiction for the search parameter\r\n* [StructureDefinition](structuredefinition.html): Intended jurisdiction for the structure definition\r\n* [StructureMap](structuremap.html): Intended jurisdiction for the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): Intended jurisdiction for the terminology capabilities\r\n* [ValueSet](valueset.html): Intended jurisdiction for the value set"
          },
          {
            "name": "url",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The uri that identifies the capability statement\r\n* [CodeSystem](codesystem.html): The uri that identifies the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The uri that identifies the compartment definition\r\n* [ConceptMap](conceptmap.html): The uri that identifies the concept map\r\n* [GraphDefinition](graphdefinition.html): The uri that identifies the graph definition\r\n* [ImplementationGuide](implementationguide.html): The uri that identifies the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The uri that identifies the message definition\r\n* [OperationDefinition](operationdefinition.html): The uri that identifies the operation definition\r\n* [SearchParameter](searchparameter.html): The uri that identifies the search parameter\r\n* [StructureDefinition](structuredefinition.html): The uri that identifies the structure definition\r\n* [StructureMap](structuremap.html): The uri that identifies the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The uri that identifies the terminology capabilities\r\n* [ValueSet](valueset.html): The uri that identifies the value set"
          },
          {
            "name": "context-type",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A type of use context assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A type of use context assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A type of use context assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A type of use context assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A type of use context assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A type of use context assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A type of use context assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A type of use context assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A type of use context assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A type of use context assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A type of use context assigned to the structure definition\r\n* [StructureMap](structuremap.html): A type of use context assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A type of use context assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A type of use context assigned to the value set"
          },
          {
            "name": "version",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The business version of the capability statement\r\n* [CodeSystem](codesystem.html): The business version of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The business version of the compartment definition\r\n* [ConceptMap](conceptmap.html): The business version of the concept map\r\n* [GraphDefinition](graphdefinition.html): The business version of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The business version of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The business version of the message definition\r\n* [OperationDefinition](operationdefinition.html): The business version of the operation definition\r\n* [SearchParameter](searchparameter.html): The business version of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The business version of the structure definition\r\n* [StructureMap](structuremap.html): The business version of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The business version of the terminology capabilities\r\n* [ValueSet](valueset.html): The business version of the value set"
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The current status of the capability statement\r\n* [CodeSystem](codesystem.html): The current status of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): The current status of the compartment definition\r\n* [ConceptMap](conceptmap.html): The current status of the concept map\r\n* [GraphDefinition](graphdefinition.html): The current status of the graph definition\r\n* [ImplementationGuide](implementationguide.html): The current status of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The current status of the message definition\r\n* [NamingSystem](namingsystem.html): The current status of the naming system\r\n* [OperationDefinition](operationdefinition.html): The current status of the operation definition\r\n* [SearchParameter](searchparameter.html): The current status of the search parameter\r\n* [StructureDefinition](structuredefinition.html): The current status of the structure definition\r\n* [StructureMap](structuremap.html): The current status of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The current status of the terminology capabilities\r\n* [ValueSet](valueset.html): The current status of the value set"
          },
          {
            "name": "_tag",
            "type": "string",
            "in": "query",
            "description": "Tags applied to this resource"
          },
          {
            "name": "security-service",
            "type": "string",
            "in": "query",
            "description": "OAuth | SMART-on-FHIR | NTLM | Basic | Kerberos | Certificates"
          },
          {
            "name": "context-type-quantity",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): A use context type and quantity- or range-based value assigned to the capability statement\r\n* [CodeSystem](codesystem.html): A use context type and quantity- or range-based value assigned to the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and quantity- or range-based value assigned to the compartment definition\r\n* [ConceptMap](conceptmap.html): A use context type and quantity- or range-based value assigned to the concept map\r\n* [GraphDefinition](graphdefinition.html): A use context type and quantity- or range-based value assigned to the graph definition\r\n* [ImplementationGuide](implementationguide.html): A use context type and quantity- or range-based value assigned to the implementation guide\r\n* [MessageDefinition](messagedefinition.html): A use context type and quantity- or range-based value assigned to the message definition\r\n* [NamingSystem](namingsystem.html): A use context type and quantity- or range-based value assigned to the naming system\r\n* [OperationDefinition](operationdefinition.html): A use context type and quantity- or range-based value assigned to the operation definition\r\n* [SearchParameter](searchparameter.html): A use context type and quantity- or range-based value assigned to the search parameter\r\n* [StructureDefinition](structuredefinition.html): A use context type and quantity- or range-based value assigned to the structure definition\r\n* [StructureMap](structuremap.html): A use context type and quantity- or range-based value assigned to the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and quantity- or range-based value assigned to the terminology capabilities\r\n* [ValueSet](valueset.html): A use context type and quantity- or range-based value assigned to the value set"
          },
          {
            "name": "name",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): Computationally friendly name of the capability statement\r\n* [CodeSystem](codesystem.html): Computationally friendly name of the code system\r\n* [CompartmentDefinition](compartmentdefinition.html): Computationally friendly name of the compartment definition\r\n* [ConceptMap](conceptmap.html): Computationally friendly name of the concept map\r\n* [GraphDefinition](graphdefinition.html): Computationally friendly name of the graph definition\r\n* [ImplementationGuide](implementationguide.html): Computationally friendly name of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): Computationally friendly name of the message definition\r\n* [NamingSystem](namingsystem.html): Computationally friendly name of the naming system\r\n* [OperationDefinition](operationdefinition.html): Computationally friendly name of the operation definition\r\n* [SearchParameter](searchparameter.html): Computationally friendly name of the search parameter\r\n* [StructureDefinition](structuredefinition.html): Computationally friendly name of the structure definition\r\n* [StructureMap](structuremap.html): Computationally friendly name of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): Computationally friendly name of the terminology capabilities\r\n* [ValueSet](valueset.html): Computationally friendly name of the value set"
          },
          {
            "name": "_source",
            "type": "string",
            "in": "query",
            "description": "Identifies where the resource comes from"
          },
          {
            "name": "title",
            "type": "string",
            "in": "query",
            "description": "Multiple Resources: \r\n\r\n* [CapabilityStatement](capabilitystatement.html): The human-friendly name of the capability statement\r\n* [CodeSystem](codesystem.html): The human-friendly name of the code system\r\n* [ConceptMap](conceptmap.html): The human-friendly name of the concept map\r\n* [ImplementationGuide](implementationguide.html): The human-friendly name of the implementation guide\r\n* [MessageDefinition](messagedefinition.html): The human-friendly name of the message definition\r\n* [OperationDefinition](operationdefinition.html): The human-friendly name of the operation definition\r\n* [StructureDefinition](structuredefinition.html): The human-friendly name of the structure definition\r\n* [StructureMap](structuremap.html): The human-friendly name of the structure map\r\n* [TerminologyCapabilities](terminologycapabilities.html): The human-friendly name of the terminology capabilities\r\n* [ValueSet](valueset.html): The human-friendly name of the value set"
          },
          {
            "name": "fhirversion",
            "type": "string",
            "in": "query",
            "description": "The version of FHIR"
          },
          {
            "name": "software",
            "type": "string",
            "in": "query",
            "description": "Part of the name of a software application"
          },
          {
            "name": "_profile",
[...]
